In [1]:
import numpy as np
import pandas as pd
import re

from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
postings_trimmed = pd.read_csv('postings_trimmed.csv', encoding='ISO-8859-1')

In [2]:
#%matplotlib inline

In [5]:
#mid_sal = postings_trimmed['salary_mid']

#mid_sal.dropna(axis=0, how='any')
plt.figure(figsize=(12,6))
plt.hist(postings_trimmed['salary_mid'].dropna(axis=0, how='any'), bins=25, color="#666699")

(array([   5.,   60.,  148.,  243.,  291.,  319.,  358.,  380.,  457.,
         368.,  324.,  250.,  182.,  111.,   88.,   47.,   33.,   29.,
          12.,    5.,   11.,    1.,    0.,    3.,    1.]),
 array([  31. ,   41.3,   51.6,   61.9,   72.2,   82.5,   92.8,  103.1,
         113.4,  123.7,  134. ,  144.3,  154.6,  164.9,  175.2,  185.5,
         195.8,  206.1,  216.4,  226.7,  237. ,  247.3,  257.6,  267.9,
         278.2,  288.5]),
 <a list of 25 Patch objects>)

In [6]:
#plt.figure(figsize=(12,6))
bar_df = postings_trimmed.groupby('python')['salary_mid'].mean()
bar_df.plot.bar()

In [7]:
#plt.figure(figsize=(12,6))
bar_df2 = postings_trimmed.groupby('r')['salary_mid'].mean()
bar_df2.plot.bar()

In [8]:
#plt.figure(figsize=(12,6))
bar_df3 = postings_trimmed.groupby('linux')['salary_mid'].mean()
bar_df3.plot.bar()

In [9]:
plt.figure(figsize=(12,6))
sns.kdeplot(postings_trimmed['salary_mid'].dropna(axis=0, how='all'), shade=True, label='Midpoint Est. Salary')

In [10]:
plt.figure(figsize=(12,6))
sns.distplot(postings_trimmed['salary_mid'].dropna(axis=0, how='all'), label='Midpoint Est. Salary')

In [11]:
plt.figure(figsize=(12,6))
sns.kdeplot(postings_trimmed['rating'].dropna(axis=0, how='all'), shade=True, label='Employee Rating')

In [12]:
plt.figure(figsize=(12,6))
sns.kdeplot(postings_trimmed['ceo_approve'].dropna(axis=0, how='all'), shade=True, label='CEO Approval')

In [13]:
plt.figure(figsize=(12,6))
sns.kdeplot(postings_trimmed['recommend_friend'].dropna(axis=0, how='all'), shade=True, label='Recommend Friend')

In [14]:
plt.figure(figsize=(12,6))
sns.jointplot(postings_trimmed['salary_mid'], postings_trimmed['data_sci_indicator'])

In [16]:
stats = pd.DataFrame({'Tests': ['Viz', 'Masters', 'SAS', 'SQL', 'Tableau', 'Python', 'PhD', 'ML', 'Spark', \
                      'Java', 'Hadoop', 'Hive', 'NLP', 'Scikit', 'Matlab', 'R', 'Linux', 'Mongo', 'Stats'],\
                      'PValues1': [np.nan, np.nan, np.nan, np.nan, np.nan, 2.200e-16, 2.200e-16, \
                                  2.200e-16, 2.200e-16, 2.200e-16, 8.158e-16, 1.099e-11, 4.717e-09, 2.788e-08, 1.524e-04, \
                                  1.820e-02, 7.562e-02, 4.262e-01, 4.465e-01], \
                      'PValues2': [-5.400e-02, -2.719e-03, -1.524e-04, -3.231e-07, -2.200e-16, np.nan, np.nan, \
                                  np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, \
                                  np.nan, np.nan, np.nan, np.nan], \
                      'Pos_Bound': [0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, \
                                    0.05, 0.05, 0.05, 0.05, 0.05], \
                      'Neg_Bound': [-0.05, -0.05, -0.05, -0.05, -0.05, -0.05, -0.05, -0.05, -0.05, -0.05, -0.05, -0.05, \
                                    -0.05, -0.05, -0.05, -0.05, -0.05, -0.05, -0.05]})

stats = stats.sort_values('PValues2',ascending=False).sort_values('PValues1', ascending=False)

stats

    Neg_Bound      PValues1      PValues2  Pos_Bound    Tests
18      -0.05  4.465000e-01           NaN       0.05    Stats
17      -0.05  4.262000e-01           NaN       0.05    Mongo
16      -0.05  7.562000e-02           NaN       0.05    Linux
15      -0.05  1.820000e-02           NaN       0.05        R
14      -0.05  1.524000e-04           NaN       0.05   Matlab
13      -0.05  2.788000e-08           NaN       0.05   Scikit
12      -0.05  4.717000e-09           NaN       0.05      NLP
11      -0.05  1.099000e-11           NaN       0.05     Hive
10      -0.05  8.158000e-16           NaN       0.05   Hadoop
5       -0.05  2.200000e-16           NaN       0.05   Python
6       -0.05  2.200000e-16           NaN       0.05      PhD
7       -0.05  2.200000e-16           NaN       0.05       ML
8       -0.05  2.200000e-16           NaN       0.05    Spark
9       -0.05  2.200000e-16           NaN       0.05     Java
4       -0.05           NaN -2.200000e-16       0.05  Tableau
3       -0.05           NaN -3.231000e-07       0.05      SQL
2       -0.05           NaN -1.524000e-04       0.05      SAS
1       -0.05           NaN -2.719000e-03       0.05  Masters
0       -0.05           NaN -5.400000e-02       0.05      Viz

In [421]:
type(stats['PValues'][2])

numpy.float64

In [481]:
stats['PValues1'] = stats['PValues1'].apply(lambda x: x + 1)
stats['PValues2'] = stats['PValues2'].apply(lambda x: x + 1)
stats['Pos_Bound'] = stats['Pos_Bound'].apply(lambda x: x + 1)
stats['Neg_Bound'] = stats['Neg_Bound'].apply(lambda x: x + 1)

In [482]:
stats['PValues1'] = stats['PValues1'].apply(lambda x: math.log10(x))
stats['PValues2'] = stats['PValues2'].apply(lambda x: math.log10(x))
stats['Pos_Bound'] = stats['Pos_Bound'].apply(lambda x: math.log10(x))
stats['Neg_Bound'] = stats['Neg_Bound'].apply(lambda x: math.log10(x))

In [17]:
import math

plt.figure(figsize=(12,8))
sns.pointplot(stats['Tests'], stats['PValues1'], join=False, color='darkblue')
sns.pointplot(stats['Tests'], stats['PValues2'], join=False, color="red").set(xlabel='', ylabel='P-Value')
plt.plot(stats['Pos_Bound'], linewidth = 1, color="red")
plt.plot(stats['Neg_Bound'], linewidth = 1, color="red")